# Node.js 相关
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml

# dotenv 文件（敏感信息）
.env

# 操作系统文件
.DS_Store
Thumbs.db

# VS Code 配置
.vscode/

# 日志或运行时文件
*.log
logs/
*.pid
*.seed
*.backup

# 压缩包
*.zip

# 编译产物
dist/
build/

# 公共目录（运行时生成）
public/
